<h1>Input Karyawan Baru</h1>
<hr>
<form action="/karyawan/proses-insert-data" method="post">
    <label for="">Nomor Induk Karyawan</label>
    <input type="text" name="form_nik" id="">
    <br><br>
    <label for="">Nama Lengkap</label>
    <input type="text" name="form_nama" id="">
    <br><br>
    <label for="">Tanggal Lahir</label>
    <input type="date" name="form_tanggal_lahir" id="">
    <br><br>
    <label for="">Alamat</label><br>
    <textarea name="form_alamat" id="" rows="5" column="50"></textarea>
    <br><br>
    <button type="submit">simpan</button>
</form>