<h1>List Karyawan</h1>
<hr>
<table border="1">
    <thead>
        <tr>
            <th>NIK</th>
            <th>Nama</th>
            <th>Jabatan</th>
        </tr>
    </thead>
    <tbody>
        <% for (const i in karyawan) {%>
            <tr>
                <td><%= karyawan[i].nik %></td>
                <td><%= karyawan[i].nama %></td>
                <td><%= karyawan[i].jabatan_nama %></td>
            </tr>
        <% } %>
    </tbody>
</table>

<pre>
    <%= JSON.stringify(karyawan, null, 4) %>
</pre>