<h1>Profil Saya</h1>
let tahunLahir  = 1992
let tahunIni    = 2024
let umur        = tahunIni - tahunLahir

<ul>
    <li>Nama lengkap: Amirah Puspadewi</li>
    <li>Nama panggilan: Ami</li>
    <li>Alamat: Pamulang, Tangerang Selatan</li>
    <li>Pekerjaan: Mahasiswa, Freelancer</li>
    <li>Tempat, tanggal lahir: Jakarta, 13 Juni ${tahunLahir}</li>
    <li>Umur: ${umur} tahun</li>
</ul>
<br>
<a href="/">Balik ke beranda

<!-- <script>
    let tahun_lahir = 1990
    let tahun_ini = 2024
    let umur = tahun_ini - tahun_lahir
    let elementSpan = document.getElementById('tahun_kelahiran')
    elementSpan.innerHTML = tahun_lahir
    let elementUmur = document.getElementById('umurAji')
    elementUmur.innerHTML = umur
</script> -->